<div class="container my-5">
  <div class="d-flex justify-content-center">
    <div class="card my-5" style="width: 25rem;">
      <div class="card-body">
        <h1 class="title"></h1>
        <mat-tab-group>
          <mat-tab label="Company">
            <div [formGroup]="newRegistrationCompanyForm" class="eudr-registration-company__container _small">
              <div class="form-group ">
                <label for="inputName4">Company name</label>
                <input type="name" class="form-control" id="inputNameCompany4" placeholder="company name" formControlName ="companyName">
              </div>
              <div class="form-group ">
                <label for="inputDirectorName4">Full name company director</label>
                <input type="name" class="form-control" id="inputDirectorName4" placeholder="full name"
                       formControlName ="directorName">
              </div>
              <div class="form-group ">
                <label for="inputContactNumber4">Contact Number</label>
                <input type="ContactNumber" class="form-control" id="inputContactNumber4" placeholder="contact number"
                       formControlName ="contactNumber">
              </div>
              <div class="form-group ">
                <label for="inputLegaladdress">Legal Adress Company </label>
                <input type="legaladdress" class="form-control" id="inputLegaladdress" placeholder="adress"
                       formControlName ="legalAddress">
              </div>
              <div class="form-group ">
                <label for="inputLoginCompany">Login *</label>
                <input type="login" class="form-control" id="inputLoginCompany" placeholder="login"
                       formControlName ="login" required>
              </div>
              <div class="form-group ">
                <label for="inputPasswordCompany">Password *</label>
                <input type="password" class="form-control" id="inputPasswordCompany" placeholder="password"
                       formControlName="password"  required>
              </div>
              <button type="button" class="btn btn-primary" (click)="addCompany()" [disabled]="!newRegistrationCompanyForm.valid">Register</button>
            </div>
          </mat-tab>
          <mat-tab label="User">
            <div [formGroup]="newRegistrationUserForm" class="eudr-registration-user__container _small">
              <div class="form-group ">
                <label for="inputName4">Name</label>
                <input type="name" class="form-control" id="inputName4" placeholder="name"
                       formControlName ="name">
              </div>
              <div class="form-group ">
                <label for="inputLastName4">Last Name</label>
                <input type="lastName" class="form-control" id="inputLastName4" placeholder="last name"
                       formControlName ="lastName">
              </div>
              <div class="form-group ">
                <label for="inputLogin4">Login *</label>
                <input type="email" class="form-control" id="inputLogin4" placeholder="login"
                       formControlName ="login" required>
              </div>
              <div class="form-group ">
                <label for="inputName4">Password *</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="password"
                       formControlName="password" required>
              </div>
              <button type="button" class="btn btn-primary" (click)="addUser()" [disabled]="!newRegistrationUserForm.valid">Register</button>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
