.eudr-registration-company__container {
  margin-top: 50px;
  width: 100%;
}
._small {
  max-width: 420px;
}
.eudr-registration-user__container {
  margin-top: 50px;
  width: 100%;
}
._small {
  max-width: 420px;
}
