<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="home-product__card" >
      <div class="pricingTable">
        <h3 class="title">{{product.name}}</h3>
        <div class="price-value">${{product.price}}
                <span class="month">per month</span>
        </div>
        <div class="section">
          {{product.section}}
        </div>
        <span class="month">Description</span>
          <div class="discription">
                {{product.description}}
          </div>
        <form>
        <select #selectBillingAccount>
          <option *ngFor="let billingAccount of billingAccounts" [value]="billingAccount.id">{{billingAccount.cardNumber}}</option>
        </select>
          <button  type="submit" value="Subscription" (click)="subscribeOnProduct(selectBillingAccount.value)">Subscription</button>
        </form>
      </div>
  </div>
</div>
  </div>
