<nav class="navbar navbar-expand-lg bg-dark">
  <a class="navbar-brand navbar-primery " routerLink="/home">Home</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button *ngIf="currentUser != null" class="btn btn-outline-primary my-2 my-sm-0" type="submit" routerLink="/personal">personal</button>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" routerLink="/wallets">My Wallets</button>
    </form>

  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="home-product__card" >
      <div class="pricingTable">
        <h3 class="title">{{product.name}}</h3>
        <div class="price-value">${{product.price}}
                <span class="month">per month</span>
        </div>
        <div class="month">
          {{product.section}}
        </div>
        <span class="month">Description</span>
          <div class="description">
            <label>{{product.description}}</label>
          </div>
        <form [formGroup]="newForm" class="home-product__card-form" *ngIf="currentUser.role ==='User'">
          <mat-select formControlName="billingAccount">
            <mat-option *ngFor="let billingAccount of billingAccounts" [value]="billingAccount.id">
              {{billingAccount.cardName}}
            </mat-option>
          </mat-select>
            <button mat-raised-button color="primary" *ngIf="currentUser.role === 'User'" type="submit" value="Subscription"
                    [disabled]="!newForm.valid"
                    (click)="subscribeOnProduct()">Subscribe</button>
        </form>
        <div *ngIf="!newForm.controls.billingAccount.valid">
          please create a wallet first
        </div>
      </div>
  </div>
</div>
</div>
