<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="home-product__card" >
      <div class="pricingTable">
        <h3 class="title">{{product.name}}</h3>
        <div class="price-value">${{product.price}}
                <span class="month">per month</span>
        </div>
        <div class="section">
          {{product.section}}
        </div>
        <span class="month">Description</span>
          <div class="discription">
                {{product.description}}
          </div>
       <button ></button>
    </div>
  </div>
</div>
  </div>
