<div>
  <nav class="navbar navbar-expand-lg bg-dark">
    <a class="navbar-brand navbar-primery " routerLink="/home">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" (click)="createBA()">Create card</button>
      </form>
    </div>
  </nav>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">cardName</th>
    <th scope="col">balance</th>
    <th scope="col">cardNumber</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let billingAccountModel of billingAccounts; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ billingAccountModel.cardName }}
    </td>
    <td>{{ billingAccountModel.balance | number }}</td>
    <td>{{ billingAccountModel.cardNumber | number }}</td>
    <td>
      <button class="btn btn-lg btn-outline-primary" (click)="open(content, billingAccountModel)">refill account</button>
    </td>
    <td><!--*ngIf="currentUser.role === 'Admin'"-->
      <button class="bg-dark" (click)="deleteBillingAccount(billingAccountModel.id)">X</button>
    </td>
  </tr>
  </tbody>
</table>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group">
          <form [formGroup]="fillForm">
          <input class="form-control"
                 id="inputBalance"
                 placeholder="give me my money"
                 formControlName="fill"
                 [(ngModel)]="amount" name="first">
          </form>
        </div>
        <div *ngIf="!fillForm.controls.fill.valid && fillForm.controls.fill.touched" class = "error-data">
          please enter number
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close(amount)" [disabled]="!fillForm.controls.fill.valid">Save</button>
  </div>
</ng-template>
